<section class="grid grid-cols-2 gap-10 items-center min-h-[50vh]">
  <div class="flex flex-col justify-center max-w-xl">
    
    <h1 class="mb-6 font-bold leading-tight">
      <span class="block text-6xl sm:text-5xl lg:text-6xl text-gray-200">Junior</span>
      <span class="block text-7xl sm:text-6xl lg:text-7xl text-violet-400">Developer</span>
    </h1>

    <p class="text-base sm:text-lg text-gray-300 leading-relaxed max-w-md">
      Desarrollador web apasionado por crear experiencias digitales innovadoras.
      Especializado en tecnologías modernas y comprometido con la excelencia en
      cada proyecto.
    </p>

    <div class="mt-6 flex flex-wrap gap-4">
      <button class="rounded-xl bg-violet-700 px-6 py-2 text-white hover:bg-violet-500 transition">
        Contactame
      </button>

      <button class="rounded-xl border border-gray-600 px-6 py-2 text-gray-200 hover:bg-gray-900 transition">
        Proyectos
      </button>
    </div>
  </div>

  <div class="flex justify-center lg:justify-end">
    <img
      class="w-64 sm:w-72 lg:w-80 xl:w-96 object-cover rounded-2xl shadow-lg"
      src="/imagenPrueba.jpeg"
      alt="Piero"
    />
  </div>

</section>
