<nav class="flex justify-center p-5 text-white">

  <ul class="flex gap-6">
    <li><a href="#">Inicio</a></li>
    <li><a href="#proyectos">Proyectos</a></li>
    <li><a href="#experiencia">Experiencia</a></li>
    <li><a href="#skills">Habilidades</a></li>
    <li><a href="#contacto">Contacto</a></li>
  </ul>

</nav>