---
import ExperienceItem from "../components/ExperienceItem.astro";
---

<section class="text-white space-y-8">
  
  <h2 class="text-2xl text-bold">
    Experiencia laboral
  </h2>

  <div>
    <ul class="space-y-10">
      <ExperienceItem
        title="Frontend Developer"
        company="Globtecx"
        startDate="Febrero 2026"
        endDate="Abril 2026"
        description= "Diseñé y desarrollé un portal de noticias utilizando WordPress y Elementor, estructurando categorías y plantillas dinámicas para asegurar consistencia visual. Optimicé la experiencia de usuario y el rendimiento del sitio, además de aplicar buenas prácticas de SEO on-page que mejoraron el posicionamiento en Google. Actualmente, continúo implementando mejoras en rendimiento, diseño responsive y escalabilidad."
      />
      <ExperienceItem
        title="Frontend Developer"
        company="Globtecx"
        startDate="Jul 2025"
        endDate="Oct 2025"
        description= "Diseñé y desarrollé un sitio web con WordPress y Elementor, implementando un catálogo de servicios, formularios de contacto y páginas orientadas a conversión. Optimicé tiempos de carga y estructura del sitio, y coordiné con el cliente el diseño y contenido, logrando un 90% de satisfacción tras el lanzamiento."
      />
      <ExperienceItem
        title="Soporte Tecnico"
        company="Advisor IT"
        startDate="Ago 2025"
        endDate="Sep 2025"
        description= "Realicé mantenimiento preventivo y correctivo de equipos informáticos, asegurando su correcto funcionamiento y reduciendo incidencias. Brindé soporte técnico a usuarios con un tiempo promedio de resolución de 4 horas, e instalé y configuré hardware y software en más de 50 estaciones de trabajo según requerimientos."
      />
      <ExperienceItem
        title="Soporte Tecnico"
        company="Advisor IT"
        startDate="Jul 2025"
        endDate="Ago 2025"
        description= "Ejecuté mantenimiento integral en salas de cómputo, laboratorios y aulas, gestionando más de 100 equipos tecnológicos. Documenté procedimientos en un manual técnico y propuse 15 mejoras orientadas a optimizar el rendimiento y prolongar la vida útil de los equipos."
      />
    </ul>
  </div>
</section>
