---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Contact from "../sections/Contact.astro";
import Experience from "../sections/Experience.astro";
import Projects from "../sections/Projects.astro";
import Skills from "../sections/Skills.astro";
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
  </head>

  <body class="min-h-screen w-full relative">
    <div class="inset-0 z-0 bg-gradient-main"></div>
    <div class="relative z-10 portfolio-container">
      <Navbar />
      <main class="space-y-32 pt-20">
        <section>
          <slot />
        </section>
        <section>
          <Experience />
          <!-- <Projects />  
          <Skills />
          <Contact /> -->
        </section>
      </main>
    </div>
  </body>
</html>
